# 0929 added by liu
*.mex*
*.zip
*.dll
external/caffe/matlab/caffe_faster_rcnn_win
external/caffe/matlab/caffe_faster_rcnn_win_cudnn
external/caffe/matlab/caffe_faster_rcnn_win_cudnn_iou
external/caffe/matlab/caffe_faster_rcnn_win_cudnn_iou_Copy
external/caffe/matlab/caffe*
external/export_fig/
sourceinsight/
!external/code3.2.1/*.m

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# User Ingore
#models/
data/
external/code3.2.1
datasets/caltech/test
datasets/caltech/train
output/
#0713 added
output2/*
output2/old_conv3_s4/*
output2/old_conv3_s4/rpn_cache/*
cachedir/
imdb/cache
*.caffemodel
*.mat
*.jpg
*.png
bin/
test_final/model/*

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
